.card {
    width: 175px;
    height: 270px;
    padding: 10px;
    font-size: 25pt;
    text-align: center;
    margin: 2px;
    border: solid 3px #7a1616;
    background-color: white;
    display: inline-block;
    /* align-items: flex-start; */
}